/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
}
html {
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  background-color:gray;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

ul.product-props{
    font-size:small;
}

ul.product-props{
    list-style-type:none;
}